.productWrapper{
    border: 1px black solid;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 20rem;
}

.productWrapper div h2{
    text-transform: capitalize;
}

.button{
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
}


.products span{
    background-color: wheat;
    border-radius: 50%;
    padding: 0.2rem;
    margin: 0.2rem;
    position: absolute;
    top: 0.6rem;
    right: 0rem;
}