body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.appWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
